<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>objctest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AAC8FE201C0C902F00C1A2A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAC8FE391C0C903000C1A2A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAC8FE441C0C903000C1A2A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
